<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <appSettings>
    <add key="LocalConnection" value="Data Source=127.0.0.1;DataBase=DBHelper;user=sa;password=quanysq123;Max Pool Size=50;Min Pool Size=5;Pooling=true;Connection Lifetime=30;"/>
    <add key="XmlFileDir" value="" />
  </appSettings>
</configuration>
