<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!--建造者-->
    <add key="No1" value="RomanBuilder"></add>
    <add key="No2" value="ChineseBuilder"></add>
    <!--工厂-->
    <add key="No3" value="HongQiCarFactory"/>
    <add key="No4" value="BMWCarFactory"/>
  </appSettings>

</configuration>