<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--File Path-->
		<add key="ViewModelPath"		value="D:\Work\AndoErp\AndoERP\Ando.ERP.BLL.Model\ViewModels" />
		<add key="IRepositoryPath"	value="D:\Work\AndoErp\AndoERP\Ando.ERP.DAL.Repository\IRepositories" />
		<add key="RepositoryPath"		value="D:\Work\AndoErp\AndoERP\Ando.ERP.DAL.Repository\Repositories" />
		<add key="IServicePath"			value="D:\Work\AndoErp\AndoERP\Ando.ERP.BLL\IService" />
		<add key="ServicePath"			value="D:\Work\AndoErp\AndoERP\Ando.ERP.BLL\Service" />
		<!--File Name-->
		<add key="ViewModelFileName"		value="{0}ViewModel.cs" />
		<add key="IRepositoryFileName"	value="I{0}Reposition.cs" />
		<add key="RepositoryFileName"		value="{0}Reposition.cs" />
		<add key="IServiceFileName"			value="I{0}Service.cs" />
		<add key="ServiceFileName"			value="{0}Service.cs" />
	</appSettings>
</configuration>