<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<CodeGeneratorParameter>
		<TableName>TbTEST</TableName>
		<TableDesc>测试</TableDesc>
		<ControllerName>Test</ControllerName>
		<ControllerDesc>测试</ControllerDesc>
	</CodeGeneratorParameter>
	<GeneratorFiles>
		<BasePath>D:\Work\Ando.Software\Ando.Software\AndoERP</BasePath>
		<GeneratorFile>
			<FileBuilder>ViewModelFileBuilder</FileBuilder>
			<FileName>{Parameter.TableName}ViewModel.cs</FileName>
			<FilePath>Ando.ERP.BLL.Model\ViewModels</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>IRepositoryFileBuilder</FileBuilder>
			<FileName>I{Parameter.TableName}Reposition.cs</FileName>
			<FilePath>Ando.ERP.DAL.Repository\IRepositories</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>RepositoryFileBuilder</FileBuilder>
			<FileName>{Parameter.TableName}Reposition.cs</FileName>
			<FilePath>Ando.ERP.DAL.Repository\Repositories</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>IServiceFileBuilder</FileBuilder>
			<FileName>I{Parameter.TableName}Service.cs</FileName>
			<FilePath>Ando.ERP.BLL\IService</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>ServiceFileBuilder</FileBuilder>
			<FileName>{Parameter.TableName}Service.cs</FileName>
			<FilePath>Ando.ERP.BLL\Service</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>ControllerFileBuilder</FileBuilder>
			<FileName>{Parameter.ControllerName}Controller.cs</FileName>
			<FilePath>Ando.ERP.Client.Mvc\Controllers</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>ViewFileBuilder</FileBuilder>
			<FileName>Index.cshtml</FileName>
			<FilePath>Ando.ERP.Client.Mvc\Views\{Parameter.ControllerName}</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>JSControllerFileBuilder</FileBuilder>
			<FileName>{Parameter.ControllerNameLower}.contoller.js</FileName>
			<FilePath>Ando.ERP.Client.Mvc\Scripts\PageJs\{Parameter.ControllerName}</FilePath>
		</GeneratorFile>
		<GeneratorFile>
			<FileBuilder>JSVueFileBuilder</FileBuilder>
			<FileName>{Parameter.ControllerNameLower}.vue.js</FileName>
			<FilePath>Ando.ERP.Client.Mvc\Scripts\PageJs\{Parameter.ControllerName}</FilePath>
		</GeneratorFile>
	</GeneratorFiles>
</Configuration>