<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ExcelFile" value="D:\Work\Document\Jacky\投资理财分析\v2003\GuPiaoDayData.xls" />
    <!--<add key="ExcelFile" value="D:\Work\Document\Jacky\投资理财分析\v2003\GuPiaoWeekData.xls"/>-->
    <add key="RowNum" value="7" />
    <add key="CellOfOpen" value="1" />
    <add key="CellOfClose" value="2" />
    <add key="CellOfHighest" value="3" />
    <add key="CellOfLowest" value="4" />
    <add key="CellOfRange" value="5" />
    <add key="CellOfM5" value="7" />
    <add key="CellOfM10" value="8" />
    <add key="CellOfM30" value="10" />
    <add key="CellOfMacd" value="11" />
    <add key="CellOfDiff" value="12" />
    <add key="CellOfDea" value="13" />
    <add key="CellOfK" value="14" />
    <add key="CellOfD" value="15" />
    <add key="CellOfJ" value="16" />
    <add key="CellOfRSI6" value="17" />
    <add key="CellOfRSI12" value="18" />
    <add key="CellOfRSI24" value="19" />
    <add key="CellOfVol" value="20" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>