<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--1 日线数据；2 周线数据-->
  <DataType>1</DataType> 
  <DataTypeNote>日线数据</DataTypeNote>
  <GPPool>
	<GPInfo Name="美锦能源" Code="000723" />
	<GPInfo Name="广汇能源" Code="600256" />
	<GPInfo Name="巨化股份" Code="600160" />
	<GPInfo Name="延安必康" Code="002411" />
	<GPInfo Name="中远海控" Code="601919" />
	<GPInfo Name="中远海特" Code="600428" />
	<GPInfo Name="中国铝业" Code="601600" />
	<GPInfo Name="华阳新材" Code="600281" />
	<GPInfo Name="八一钢铁" Code="600581" />
	<GPInfo Name="亿晶光电" Code="600537" />
	<GPInfo Name="协鑫集成" Code="002506" />
	<GPInfo Name="兆新股份" Code="002256" />
	<GPInfo Name="科陆电子" Code="002121" />
	<GPInfo Name="北京科锐" Code="002350" />
	<GPInfo Name="佳电股份" Code="000922" />
	<GPInfo Name="节能风电" Code="601016" />
	<GPInfo Name="中公教育" Code="002607" />
	<GPInfo Name="国电电力" Code="600795" />
	<GPInfo Name="东方精工" Code="002611" />
	<!--<GPInfo Name="" Code="" />-->
  </GPPool>
</configuration>