<?xml version="1.0"?>
<Configuration>
  <LicensePath>C:\BDNA_Technopedia_20160330.nbilic</LicensePath>
  <UserConsoleService>
    <LogonName />
    <Port d3p1:nil="true" xmlns:d3p1="http://www.w3.org/2001/XMLSchema-instance" />
    <Name>UserConsoleService</Name>
    <DisplayName />
    <Description />
    <Host>localhost</Host>
    <IsWinAuth>true</IsWinAuth>
  </UserConsoleService>
  <RelateProcesses>
    <string>java</string>
    <string>postgres</string>
    <string>BDNA.NormalizeBI.Service</string>
  </RelateProcesses>
  <MemoryEntity>
    <HighPercent>0.95</HighPercent>
    <EDGE>8192</EDGE>
    <MinValue>2560</MinValue>
    <SuggestMinValue>3072</SuggestMinValue>
    <MinSearchValue>1536</MinSearchValue>
    <SuggestSearchMinValue>2048</SuggestSearchMinValue>
    <AnalyzeMemory>512</AnalyzeMemory>
  </MemoryEntity>
  <IsAnalyzeLoad>false</IsAnalyzeLoad>
  <IsTrialLicense>false</IsTrialLicense>
  <ContainAnalyzeLicense>true</ContainAnalyzeLicense>
  <ContainUserConsole>true</ContainUserConsole>
  <RoleMapping>
    <mapping type="User">
      <account>nbiadministrator</account>
      <roles>
        <role>Admin</role>
        <role>Editor</role>
      </roles>
    </mapping>
  </RoleMapping>
  <Account4Security>
    <Domain>dsee7-ldap</Domain>
    <IsHttps>false</IsHttps>
    <UserName>nbiadministrator</UserName>
    <Password>Simple.0</Password>
    <Host>localhost</Host>
    <Port>80</Port>
  </Account4Security>
  <UsingExistingPublishObject>false</UsingExistingPublishObject>
  <AnalyzeInstallState>Install_Succeed</AnalyzeInstallState>
  <UserConsoleInstallState>Install_Succeed</UserConsoleInstallState>
  <InstallWay>NEW</InstallWay>
  <UseExistingSchema>ObjectsNotExists</UseExistingSchema>
  <NormalizeDW>Exists</NormalizeDW>
  <DatabaseType>MSSQLSERVER</DatabaseType>
  <DWSchemaPath />
  <Platform>X64</Platform>
  <NormalizeDW_DB_Version>5.0.0</NormalizeDW_DB_Version>
  <IISWebSite>Default Web Site</IISWebSite>
  <IISAliasName>BDNAUserConsole</IISAliasName>
  <NBIApplication>
    <CacheReportsActive>true</CacheReportsActive>
    <CacheReportsFrequency>0</CacheReportsFrequency>
    <CacheReportsLoglevel>INFO</CacheReportsLoglevel>
    <ValueDict>
      <key>
        <string>ServicePassword</string>
      </key>
      <value>
        <string>Simple.0</string>
      </value>
      <key>
        <string>ServiceUserDomain</string>
      </key>
      <value>
        <string />
      </value>
      <key>
        <string>ServiceUserName</string>
      </key>
      <value>
        <string>nbiadministrator</string>
      </value>
      <key>
        <string>ServiceUserRole</string>
      </key>
      <value>
        <string>NBI Administrators</string>
      </value>
      <key>
        <string>ServiceUserRoleDN</string>
      </key>
      <value>
        <string>cn=NBI Administrators,ou=Groups,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>ServiceUserNameDN</string>
      </key>
      <value>
        <string>uid=NBIAdministrator,ou=People,dc=dsee7-ldap,dc=com</string>
      </value>
      <key>
        <string>RefreshInterval</string>
      </key>
      <value>
        <string>3600</string>
      </value>
    </ValueDict>
    <LastGroupRoleMapping />
    <UserAuthentication>LDAP</UserAuthentication>
    <LDAP>
      <ValueDict>
        <key>
          <string>GroupTestUser</string>
        </key>
        <value>
          <string>nbiadministrator</string>
        </value>
        <key>
          <string>UserName</string>
        </key>
        <value>
          <string>nbiadministrator</string>
        </value>
        <key>
          <string>URL</string>
        </key>
        <value>
          <string>192.168.11.98:1389</string>
        </value>
        <key>
          <string>UserSearchFilter</string>
        </key>
        <value>
          <string>(&amp;(objectClass=Person))</string>
        </value>
        <key>
          <string>UserSearchBase</string>
        </key>
        <value>
          <string>ou=People,dc=dsee7-ldap,dc=com</string>
        </value>
        <key>
          <string>UserAttribute</string>
        </key>
        <value>
          <string>uid</string>
        </value>
        <key>
          <string>ManagerDN</string>
        </key>
        <value>
          <string>uid=NBIAdministrator,ou=People,dc=dsee7-ldap,dc=com</string>
        </value>
        <key>
          <string>Type</string>
        </key>
        <value>
          <string>LDAP</string>
        </value>
        <key>
          <string>GroupSearchFilter</string>
        </key>
        <value>
          <string>(uniqueMember={0})</string>
        </value>
        <key>
          <string>Password</string>
        </key>
        <value>
          <string>AQougntJw9z/NWy/RZ0B2w==</string>
        </value>
        <key>
          <string>AuthoritiesSearchBase</string>
        </key>
        <value>
          <string>ou=Groups,dc=dsee7-ldap,dc=com</string>
        </value>
        <key>
          <string>GroupSearchBase</string>
        </key>
        <value>
          <string>ou=Groups,dc=dsee7-ldap,dc=com</string>
        </value>
        <key>
          <string>AuthoritiesRoleAtrribute</string>
        </key>
        <value>
          <string>cn</string>
        </value>
        <key>
          <string>GroupRoleAtrribute</string>
        </key>
        <value>
          <string>cn</string>
        </value>
        <key>
          <string>AuthoritiesSearchFilter</string>
        </key>
        <value>
          <string>(&amp;(objectClass=groupOfUniqueNames))</string>
        </value>
        <key>
          <string>GroupIsSubtree</string>
        </key>
        <value>
          <string>True</string>
        </value>
        <key>
          <string>BaseDN</string>
        </key>
        <value>
          <string>uid=NBIAdministrator,ou=People,dc=dsee7-ldap,dc=com</string>
        </value>
      </ValueDict>
      <UserAuthentication>LDAP</UserAuthentication>
    </LDAP>
    <OLAP>
      <Port>0</Port>
      <User />
      <Password />
    </OLAP>
    <GroupRoleMaps />
    <WebServices>
      <SerializableDictionary>
        <key>
          <string>MAINTENANCE</string>
        </key>
        <value>
          <NBIWebService>
            <Name>Maintenance</Name>
            <URL>MaintenanceMode</URL>
            <MatchPattern />
            <Description />
          </NBIWebService>
        </value>
      </SerializableDictionary>
      <SerializableDictionary>
        <key>
          <string>CREATE_INDEX_SEARCHER_URL</string>
        </key>
        <value>
          <NBIWebService>
            <Name>Create Index Search Url</Name>
            <URL>http://localhost:80/bdna/searchengine/BDNAPUBLISHSplitter00.jsp</URL>
            <MatchPattern />
            <Description>Create Search engine</Description>
          </NBIWebService>
        </value>
      </SerializableDictionary>
    </WebServices>
    <CacheReports>
      <string>/BDNAReports/Software/Antivirus Rationalization.xanalyzer</string>
      <string>/BDNAReports/Software/Browser Rationalization.xanalyzer</string>
      <string>/BDNAReports/Software/Desktop Software Windows 32Bit Readiness.xanalyzer</string>
      <string>/BDNAReports/Software/Desktop Software Windows 32Bit Status.xanalyzer</string>
      <string>/BDNAReports/Software/Desktop Software Windows 64Bit Readiness.xanalyzer</string>
      <string>/BDNAReports/Software/Desktop Software Windows 64Bit Status.xanalyzer</string>
      <string>/BDNAReports/Software/Enterprise Database Rationalization.xanalyzer</string>
      <string>/BDNAReports/Other/Hardware_Entitlement.xanalyzer</string>
      <string>/BDNAReports/Hardware/Hardware Virtualization per OS.xanalyzer</string>
      <string>/BDNAReports/Software/OS Distribution by Family.xanalyzer</string>
      <string>/BDNAReports/Software/OS Distribution by Manufacturer and Name.xanalyzer</string>
      <string>/BDNAReports/Hardware/Physical v.s. Virtual.xanalyzer</string>
      <string>/BDNAReports/Software/Server Application Rationalization.xanalyzer</string>
      <string>/BDNAReports/Software/Server Software Windows 32Bit Readiness.xanalyzer</string>
      <string>/BDNAReports/Software/Server Software Windows 32Bit Status.xanalyzer</string>
      <string>/BDNAReports/Software/Server Software Windows 64Bit Readiness.xanalyzer</string>
      <string>/BDNAReports/Software/Server Software Windows 64Bit Status.xanalyzer</string>
      <string>/BDNAReports/Hardware/Servers by CPU Count.xanalyzer</string>
      <string>/BDNAReports/Other/Software_Entitlement.xanalyzer</string>
      <string>/BDNAReports/Software/Software EOL within 6 months.xanalyzer</string>
      <string>/BDNAReports/Hardware/Top Hardware Manufacturer per Category.xanalyzer</string>
      <string>/BDNAReports/Hardware/Top Hardware Manufacturers.xanalyzer</string>
      <string>/BDNAReports/Software/Top Licensable Server Software.xanalyzer</string>
      <string>/BDNAReports/Software/Top Licensable Server Software with CPU Counts.xanalyzer</string>
      <string>/BDNAReports/Software/Top Licensable Software for Workstations and Laptops.xanalyzer</string>
      <string>/BDNAReports/Software/Top Software Manufacturers with Licensable Indicator.xanalyzer</string>
      <string>/BDNAReports/Software/Top Software Manufacturers.xanalyzer</string>
      <string>/BDNAReports/Software/Top Software Products.xanalyzer</string>
      <string>/BDNAReports/Hardware/Win Desktop CPU Compatibility.xanalyzer</string>
      <string>/BDNAReports/Hardware/Win Desktop Hardware Readiness.xanalyzer</string>
      <string>/BDNAReports/Hardware/Win Desktop HDD Compatibility.xanalyzer</string>
      <string>/BDNAReports/Hardware/Win Desktop RAM Compatibility.xanalyzer</string>
      <string>/BDNAReports/Hardware/Win Server Hardware Readiness.xanalyzer</string>
      <string>/BDNAReports/Software/Technopedia_Software.xanalyzer</string>
      <string>/BDNAReports/Manufacturer/Technopedia_Manufacturers.xanalyzer</string>
      <string>/BDNAReports/Hardware/Technopedia_Hardware.xanalyzer</string>
      <string>/BDNAReports/Hardware/My_Environment_Hardware_Deployed.xanalyzer</string>
      <string>/BDNAReports/Hardware/My_Environment_Hardware_Manufacturers.xanalyzer</string>
      <string>/BDNAReports/Hardware/My_Environment_Hardware_Models.xanalyzer</string>
      <string>/BDNAReports/Software/My_Environment_Software_Installs.xanalyzer</string>
      <string>/BDNAReports/Software/My_Environment_Software_Releases.xanalyzer</string>
      <string>/BDNAReports/Software/My_Environment_Software_Manufacturers.xanalyzer</string>
      <string>/BDNAReports/Hardware/Top Server Models.xanalyzer</string>
      <string>/BDNAReports/Software/Unmatched_Files.xanalyzer</string>
      <string>/BDNAReports/Software/Operating_System_by_Family.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Normalize_Security_Lifecycle_SW.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Normalize_Security_SW.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Normalize_Security_Score_SW.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Technopedia_Security_HW.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Technopedia_Security_SW.xanalyzer</string>
      <string>/BDNAReports/Dummy/BDNA_Normalize_IT_INV.xanalyzer</string>
    </CacheReports>
  </NBIApplication>
  <NBIDynamicContent>
    <VPrcDynamicMetadataDBViewName>BDNA_A_PRC_DYNAMIC_METADATA</VPrcDynamicMetadataDBViewName>
    <SchemaTemplateXmlFileName>template.dynamic.schema.xml</SchemaTemplateXmlFileName>
    <MetadataTemplateXmlFileName>template.dynamic.metadata.xml</MetadataTemplateXmlFileName>
    <DynamicSchemaXmlFileName>dynamic.schema.xml</DynamicSchemaXmlFileName>
    <PrcDynamicMappingTableName>BDNA_A_MATCH_PRC_DY_MAPPING$</PrcDynamicMappingTableName>
    <NBISubscriptionCSVFileName>AnalyzeSubscription.csv</NBISubscriptionCSVFileName>
    <NBISubscriptionTableName>BDNA_A_SUBSCRIPTION</NBISubscriptionTableName>
    <NBI_DW_CubeTableName>BDNA_A_CUBES</NBI_DW_CubeTableName>
    <ReportLandingPagePropertiesFileName>landing.page.option.properties.xml</ReportLandingPagePropertiesFileName>
    <MetadataIcon_X_Coordinate>200</MetadataIcon_X_Coordinate>
    <MetadataIcon_Y_Coordinate>900</MetadataIcon_Y_Coordinate>
    <MetadataIcon_X_Increment>300</MetadataIcon_X_Increment>
    <MetadataIcon_Y_Increment>200</MetadataIcon_Y_Increment>
  </NBIDynamicContent>
  <Service>
    <ValueDict />
    <Commands>
      <Command>
        <Name>Start PostgreSQL</Name>
        <Path>C:\BDNA\User Console\Tools\PostgreSQL\bin\pg_ctl.exe</Path>
        <IsUserConsole>false</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string>-D</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>"C:\BDNA\User Console\Tools\PostgreSQL\data"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>start</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
      <Command>
        <Name>Stop PostgreSQL</Name>
        <Path>C:\BDNA\User Console\Tools\PostgreSQL\bin\pg_ctl.exe</Path>
        <IsUserConsole>false</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string>-D</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>"C:\BDNA\User Console\Tools\PostgreSQL\data"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>stop</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
      <Command>
        <Name>Start Tomcat Daemon</Name>
        <Path>C:\BDNA\User Console\Tools\java\bin\java.exe</Path>
        <IsUserConsole>true</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string>-Dcatalina.base</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dcatalina.home</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.endorsed.dirs</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\endorsed</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.io.tmpdir</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\temp</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.util.logging.manager</string>
            </key>
            <value>
              <string>org.apache.juli.ClassLoaderLogManager</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.util.logging.config.file</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\conf\logging.properties</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dpentaho.installed.licenses.file</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\.installedLicenses.xml</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.library.path</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Lib</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dfile.encoding</string>
            </key>
            <value>
              <string>UTF-8</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Duser.country</string>
            </key>
            <value>
              <string>us</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Duser.language</string>
            </key>
            <value>
              <string>en</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xms2048m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xmx3072m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:PermSize</string>
            </key>
            <value>
              <string>256m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:MaxPermSize</string>
            </key>
            <value>
              <string>512m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:NewSize</string>
            </key>
            <value>
              <string>256m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:MaxNewSize</string>
            </key>
            <value>
              <string>512m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-classpath "C:\BDNA\User Console\Tools\tomcat\bin\bootstrap.jar;C:\BDNA\User Console\Tools\tomcat\bin\tomcat-juli.jar"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>org.apache.catalina.startup.Bootstrap</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>start</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
      <Command>
        <Name>Monitor Tomcat</Name>
        <Path>C:\BDNA\User Console\Tools\java\bin\java.exe</Path>
        <IsUserConsole>true</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string />
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
      <Command>
        <Name>Stop Tomcat</Name>
        <Path>C:\BDNA\User Console\Tools\java\bin\java.exe</Path>
        <IsUserConsole>true</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string>-Dcatalina.base</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dcatalina.home</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.endorsed.dirs</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\endorsed</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.io.tmpdir</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\temp</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.util.logging.manager</string>
            </key>
            <value>
              <string>org.apache.juli.ClassLoaderLogManager</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.util.logging.config.file</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\tomcat\conf\logging.properties</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dpentaho.installed.licenses.file</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\.installedLicenses.xml</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Djava.library.path</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Lib</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Dfile.encoding</string>
            </key>
            <value>
              <string>UTF-8</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Duser.country</string>
            </key>
            <value>
              <string>us</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Duser.language</string>
            </key>
            <value>
              <string>en</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xms2048m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xmx3584m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:PermSize</string>
            </key>
            <value>
              <string>256m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:MaxPermSize</string>
            </key>
            <value>
              <string>512m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:NewSize</string>
            </key>
            <value>
              <string>256m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:MaxNewSize</string>
            </key>
            <value>
              <string>512m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-classpath "C:\BDNA\User Console\Tools\tomcat\bin\bootstrap.jar;C:\BDNA\User Console\Tools\tomcat\bin\tomcat-juli.jar"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>org.apache.catalina.startup.Bootstrap</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>stop</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
      <Command>
        <Name>Start SearchEngine Daemon</Name>
        <Path>C:\BDNA\User Console\Tools\java\bin\java.exe</Path>
        <IsUserConsole>true</IsUserConsole>
        <Parameters>
          <SerializableDictionary>
            <key>
              <string>-Xms1024m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xmx1536m</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Xss256k</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:+UseParNewGC</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:+UseConcMarkSweepGC</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:CMSInitiatingOccupancyFraction</string>
            </key>
            <value>
              <string>75</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:+UseCMSInitiatingOccupancyOnly</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:+HeapDumpOnOutOfMemoryError</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:+DisableExplicitGC</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Delasticsearch</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Des-foreground</string>
            </key>
            <value>
              <string>yes</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-Des.path.home</string>
            </key>
            <value>
              <string>C:\BDNA\User Console\Tools\ElasticSearch</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-cp</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>";C:\BDNA\User Console\Tools\ElasticSearch\lib\elasticsearch-1.3.4.jar;C:\BDNA\User Console\Tools\ElasticSearch\lib\*;C:\BDNA\User Console\Tools\ElasticSearch\lib\sigar\*"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>"org.elasticsearch.bootstrap.Elasticsearch"</string>
            </key>
            <value>
              <string />
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:PermSize</string>
            </key>
            <value>
              <string>256m</string>
            </value>
          </SerializableDictionary>
          <SerializableDictionary>
            <key>
              <string>-XX:MaxPermSize</string>
            </key>
            <value>
              <string>512m</string>
            </value>
          </SerializableDictionary>
        </Parameters>
      </Command>
    </Commands>
  </Service>
  <DBConnections>
    <SerializableDictionary>
      <key>
        <string>Publish</string>
      </key>
      <value>
        <DBConnectionBase d5p1:type="DBConnectionSQLServer" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance">
          <Name>Publish</Name>
          <ConnectionType>MsSqlServer</ConnectionType>
          <Host>192.168.10.48</Host>
          <User>BPC6_1025</User>
          <Password>li8ZeOp6XPw=</Password>
          <Pooling>false</Pooling>
          <MinPoolSize>0</MinPoolSize>
          <MaxPoolSize>100</MaxPoolSize>
          <ConnectionLifetime>30</ConnectionLifetime>
          <Catalog>BPC6_1025</Catalog>
          <WindowsAuthentication>false</WindowsAuthentication>
          <UseCurrentUser>false</UseCurrentUser>
          <ConnectAsUser />
          <ConnectAsPassword />
        </DBConnectionBase>
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>NDW_User</string>
      </key>
      <value>
        <DBConnectionBase d5p1:type="DBConnectionSQLServer" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance">
          <Name>NDW_User</Name>
          <ConnectionType>MsSqlServer</ConnectionType>
          <Host>192.168.10.48</Host>
          <User>BPC6_1025</User>
          <Password>li8ZeOp6XPw=</Password>
          <Pooling>false</Pooling>
          <MinPoolSize>0</MinPoolSize>
          <MaxPoolSize>100</MaxPoolSize>
          <ConnectionLifetime>30</ConnectionLifetime>
          <Catalog>BPC6_1025</Catalog>
          <WindowsAuthentication>false</WindowsAuthentication>
          <UseCurrentUser>false</UseCurrentUser>
          <ConnectAsUser />
          <ConnectAsPassword />
        </DBConnectionBase>
      </value>
    </SerializableDictionary>
    <SerializableDictionary>
      <key>
        <string>NDW_DBA</string>
      </key>
      <value>
        <DBConnectionBase d5p1:type="DBConnectionSQLServer" xmlns:d5p1="http://www.w3.org/2001/XMLSchema-instance">
          <Name>NDW_DBA</Name>
          <ConnectionType>MsSqlServer</ConnectionType>
          <Host>192.168.10.48</Host>
          <User>BPC6_1025</User>
          <Password>li8ZeOp6XPw=</Password>
          <Pooling>false</Pooling>
          <MinPoolSize>0</MinPoolSize>
          <MaxPoolSize>100</MaxPoolSize>
          <ConnectionLifetime>30</ConnectionLifetime>
          <Catalog>BPC6_1025</Catalog>
          <WindowsAuthentication>false</WindowsAuthentication>
          <UseCurrentUser>false</UseCurrentUser>
          <ConnectAsUser />
          <ConnectAsPassword />
        </DBConnectionBase>
      </value>
    </SerializableDictionary>
  </DBConnections>
  <SeachEngine>
    <CommandLine>c1</CommandLine>
    <JavaMemory>100</JavaMemory>
  </SeachEngine>
</Configuration>