<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--LMS地址-->
    <add key="LMSURL" value="http://192.168.8.81:8081/LMSService.svc/Basic" />
    <!--<add key="LMSURL" value="http://lmsdev.bdnacorp.com/LMSService.svc/Basic" />-->

    <!--能够对原始数据进一步分析的方法，多个用英文分号隔开-->
    <add key="CanFurther" value="GetTechnopediaAuthorizationDetails" />
  </appSettings>
</configuration>