<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <appSettings>
    <add key="LocalConnection" value="Data Source=127.0.0.1;DataBase=DBHelper;user=sa;password=quanysq123;Max Pool Size=50;Min Pool Size=5;Pooling=true;Connection Lifetime=30;"/>
    <add key="MSSQLConnection" value="Data Source={0};DataBase={1};user={2};password={3};Max Pool Size={4};Min Pool Size={5};Pooling={6};Connection Lifetime={7};"/>
    <add key="OracleConnection" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST={0})(PORT={1})))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME={2})));User Id={3};Password={4};"/>
    <add key="XmlFileDir" value="D:\Study\study\VS2013\DBHelper\Source\Temp" />
  </appSettings>
</configuration>
