
@model List<MiniProfilerDemo.Models.Product>
@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

