<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <!--定义类型别名-->
    <aliases>
      <add alias="Iproduct" type="Console000.IProduct,Console000" />
      <add alias="Milk" type="Console000.Milk,Console000" />
      <add alias="Sugar" type="Console000.Sugar,Console000" />
    </aliases>
    <!--容器-->
    <container name="MyContainer">
      <!--映射关系-->
      <register type="Iproduct"  mapTo="Milk"></register>
      <register type="Iproduct"  mapTo="Sugar" name="Sugar"></register>
    </container>
  </unity>
</configuration>