<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <BaseInfo>
    <TemplateName></TemplateName>
    <TemplateType></TemplateType>
    <TemplateDesc></TemplateDesc>
  </BaseInfo>
  <OSSetting>
    <OSType>0</OSType>
    <SoftSourceName></SoftSourceName>
  </OSSetting>
  <DiskSetting>
    <DiskInfo>
      <SerialNumber>0</SerialNumber>
      <Parition>
        <SerialNumber>0</SerialNumber>
        <FileSystem></FileSystem>
        <Driver></Driver>
        <Capacity></Capacity>
        <Unit>0</Unit>
        <IsUseFreeCapacity>false</IsUseFreeCapacity>
      </Parition>
    </DiskInfo>
  </DiskSetting>
</configuration>