<?xml version="1.0"?>
<Dictionary>
  <!-- Apply Normalize Subscription -->
  <SerializableDictionary>
    <key>
      <int>500</int>
    </key>
    <value>
      <File_Info>
        <FileName>NormalizeSubscription.zip</FileName>
        <CmdLine>/CONFIGFILE="%BMS_HOME%\update\load_subscription.config"</CmdLine>
        <Description>Normalize Subscription Update</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Catalog</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
        </RequiredVersions>
        <FileType>RealtimeFile</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <SerializableDictionary>
    <key>
      <int>501</int>
    </key>
    <value>
      <File_Info>
        <FileName>Catalog.zip</FileName>
        <CmdLine>/CONFIGFILE="%BMS_HOME%\update\load_catalog.config"</CmdLine>
        <Description>Catalog Update</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Catalog</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.8888</string>
        </RequiredVersions>
        <FileType>Catalog</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- For Analyze ETL Catalog -->
  <SerializableDictionary>
    <key>
      <int>90000</int>
    </key>
    <value>
      <File_Info>
        <FileName>AnalyzeETL.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>Analyze ETL Catalog</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>5.0.0.8012</string>
<string>US50_201602 Build20160310_8134</string>
</RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- For Analyze ETL Catalog ReadMe -->
  <SerializableDictionary>
    <key>
      <int>90001</int>
    </key>
    <value>
      <File_Info>
        <FileName>AnalyzeETL_UPDATESETReadme_Analyze.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>Analyze ETL Catalog Readme</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>5.0.0.8012</string>
<string>US50_201602 Build20160310_8134</string>
</RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- for Fingerprints_Basic -->
  <SerializableDictionary>
    <key>
      <int>99997</int>
    </key>
    <value>
      <File_Info>
        <FileName>Fingerprints_Basic.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>Fingerprints Basic</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Catalog</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdatableFile</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- for Fingerprints -->
  <SerializableDictionary>
    <key>
      <int>99998</int>
    </key>
    <value>
      <File_Info>
        <FileName>Fingerprints.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>Fingerprints Update</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Catalog</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
        </RequiredVersions>
        <FileType>UpdatableFile</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US50_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1001</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_DLLS.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>US50_201510 Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US43_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1002</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_For_UserConsole.zip</FileName>
        <CmdLine>/NBIFile="%BMS_HOME%\update\US50_201510_For_UserConsole.zip"</CmdLine>
        <Description>US50_201510 Update Set For UserConsole</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US50_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1003</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_PatchSetVersion_UserConsole.zip</FileName>
        <CmdLine>/NBIFile="%BMS_HOME%\update\US50_201510_PatchSetVersion_UserConsole.zip"</CmdLine>
        <Description>US50_201510 Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US50_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1004</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_PatchSetReadme_UserConsole.zip</FileName>
        <CmdLine>/NBIFile="%BMS_HOME%\update\US50_201510_PatchSetReadme_UserConsole.zip"</CmdLine>
        <Description>US50_201510 Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US50_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1005</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_PatchSetVersion_DataPlatform.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>US50_201510 Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- US50_201510 update set -->
  <SerializableDictionary>
    <key>
      <int>1006</int>
    </key>
    <value>
      <File_Info>
        <FileName>US50_201510_PatchSetReadme_DataPlatform.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>US50_201510 Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <RequiredVersions>
          <string>5.0.0.1006</string>
          <string>5.0.0.7187</string>
        </RequiredVersions>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- DataPlatform US51 UpdateSet For Catalog type -->
  <SerializableDictionary>
    <key>
      <int>51</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_Catalog.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>DataPlatform US51_Catalog Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Catalog</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- DataPlatform US51 UpdateSet For DLLS type -->
  <SerializableDictionary>
    <key>
      <int>20116</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_DLLS.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>DataPlatform US51_DLLS Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- UserConsole US51 UpdateSet -->
  <SerializableDictionary>
    <key>
      <int>20117</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_Analyze_NBIDLLS.zip</FileName>
        <CmdLine>/NBIFILE="%BMS_HOME%\update\US51_Analyze_NBIDLLS.zip"</CmdLine>
        <Description>UserConsole US51_Analyze_NBIDLLS Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- UserConsole US51 UpdateSet -->
  <SerializableDictionary>
    <key>
      <int>20118</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_For_UserConsole.zip</FileName>
        <CmdLine>/NBIFILE="%BMS_HOME%\update\US51_For_UserConsole.zip"</CmdLine>
        <Description>UserConsole US51_For_UserConsole Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- UserConsole US51 UpdateSet For Readme type -->
  <SerializableDictionary>
    <key>
      <int>20119</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_PatchSetReadme_UserConsole.zip</FileName>
        <CmdLine>/NBIFILE="%BMS_HOME%\update\US51_PatchSetReadme_UserConsole.zip"</CmdLine>
        <Description>UserConsole US51_PatchSetReadme_UserConsole Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- UserConsole US51 UpdateSet For Version type -->
  <SerializableDictionary>
    <key>
      <int>20120</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_PatchSetVersion_UserConsole.zip</FileName>
        <CmdLine>/NBIFILE="%BMS_HOME%\update\US51_PatchSetVersion_UserConsole.zip"</CmdLine>
        <Description>UserConsole US51_PatchSetVersion_UserConsole Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- DataPlatform US51 UpdateSet For Readme type -->
  <SerializableDictionary>
    <key>
      <int>20121</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_PatchSetReadme_DataPlatform.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>DataPlatform US51_PatchSetReadme_DataPlatform Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- DataPlatform US51 UpdateSet For Version type -->
  <SerializableDictionary>
    <key>
      <int>20122</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_PatchSetVersion_DataPlatform.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>DataPlatform US51_PatchSetVersion_DataPlatform Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
  <!-- DataPlatform US51 UpdateSet For SyncForce type -->
  <SerializableDictionary>
    <key>
      <int>20123</int>
    </key>
    <value>
      <File_Info>
        <FileName>US51_SyncForce.zip</FileName>
        <CmdLine>
        </CmdLine>
        <Description>DataPlatform US51_SyncForce Update Set</Description>
        <IsSpecialPatch>0</IsSpecialPatch>
        <RequiredGroupTypes>
        </RequiredGroupTypes>
        <GroupType>Software</GroupType>
        <RequiredVersions>
          <string>4.3.0.3014</string>
          <string>US4.3.0.2 Build20150423_3023</string>
          <string>US4.3.0.3 Build20150513_3026</string>
          <string>US4.3.0.6 Build20150604_3031</string>
          <string>US43_201507 Build20150702_3046</string>
          <string>US43_201507 Build20150715_3050</string>
          <string>US43_201507 Build20150812_3056</string>
          <string>US43_201508 Build20150805_3055</string>
        </RequiredVersions>
        <RequiredLicenseTypes>
          <RequiredLicenseType>Term</RequiredLicenseType>
          <RequiredLicenseType>Trial</RequiredLicenseType>
        </RequiredLicenseTypes>
        <FileType>UpdateSet</FileType>
      </File_Info>
    </value>
  </SerializableDictionary>
</Dictionary>