<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="info" />
      <!-- <appender-ref ref="LogFileAppender_ncm"/>   -->

      <!-- <appender-ref ref="LogFileAppender_updater"/>   -->
    </root>
    <logger name="DEFAULT_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_default" />
    </logger>
    <logger name="WEB_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_default" />
    </logger>
    <logger name="UPDATER_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_updater"/>
    </logger>
    <logger name="SETUP_LOG">
      <level value="info" />
      <appender-ref ref="LogFileAppender_setup"/>
    </logger>
    
    <appender name="LogFileAppender_default" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\GeneratorCmd.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_web" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\web.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_updater" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\updater.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender_setup" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\log\setup.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--lockingModel type="log4net.Appender.ConsoleAppender+MinimalLock" /-->
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

  </log4net>
</configuration>