<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="masterdbconn" value="Data Source=127.0.0.1;DataBase=master;user=sa;password=quanysq123;Max Pool Size=50;Min Pool Size=5;Pooling=true;Connection Lifetime=30;"/>
    <add key="BackupDB" value="T002" />
    <add key="RestoreDB" value="T003" />
    <add key="BackFile" value="d:\T002_Full_Backup.bak"/>
    <add key="DefaultDirForRestore" value="d:\db" />
  </appSettings>
</configuration>