<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
            <mimeMap fileExtension=".hdr" mimeType="application/x-hdr" />
            <mimeMap fileExtension=".dae" mimeType="model/vnd.collada+xml" />
            <mimeMap fileExtension=".drc" mimeType="application/vnd.oma.drm.rights+wbxml" />
            <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gcode" mimeType="text/x-gcode" />
            <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
            <mimeMap fileExtension=".mpd" mimeType="application/vnd.ms-project" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
