<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <!--Forms / Windows Auth-->
    <authentication mode="Forms">
      <forms name="login" loginUrl="Login.html" defaultUrl="Index.aspx"/>
    </authentication>
    <!--<authentication mode="Windows" />-->
    <authorization>
      <deny users="?"/>
    </authorization>

    <!--Basic Auth-->
    <!--
    <authentication mode="None" />
    -->
  </system.web>
  <!--Froms / Windows Auth-->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Services/NoneAuthService.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Services/SoapAuthService.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <!--Basic Auth-->
  <!--
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BasicAuthHttpModule" type="Web003.Util.BasicAuthHttpModule, Web003" />
    </modules>
  </system.webServer>
  -->
</configuration>